<html>

<head>
	<title>Happy Birthday Singla  !!</title>
	<meta http-equiv="content-type" content="text/css/javascript/php; charset=UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/javascript/crossword-puzzle.js"></script>

	<link type="text/css" rel="stylesheet" href="/static/css/crossword-puzzle.css">

</head>
<style>
	.main_block{
		background-image: url('/static/images/19931.jpg');
		background-repeat: no-repeat;
		background-size: cover;	
		height: 100vh;
	}
	.full_modal .modal-content{background: #fff; border: none;border-radius: 0;width: 100%}

</style>

<script type="text/javascript">

	$(document).ready(function(event) {
		var puzzlewords = [
				// word, clue
			['DarthChinchipokli', 'New sith lord'],
			['MF', 'R2D2'],
			['ODaddy', 'How did Kota neighbor call his father?'],
			['SecondPiece', 'Crush of entire 8th F.'],
			['Chaurasiya', 'Best kachori'],
			['Ambay', 'Best patties'],
			['Dilbaag', 'Pet name of your second father in school.'],
			['Sith', 'Language forbidden to translate for 3PO'],
			['FN2187', 'Full name of Fin'],
		];
		crosswordPuzzle(puzzlewords);
		$("#close_modal").on("click",function(){
			$("#party_modal").hide();
		});
		$("#close_c_modal").on("click",function(){
			$("#completed_modal").hide();
		});
	});
</script>

<body>
<div class="main_block" >
	<div class="py-5" style="background-color: rgba(0,0,0,0.6);height: 100%;">
		<div class="row m-0">
			<div id="root" class="col-md-6 root d-flex justify-content-center">
			</div>
			<div id="lists" class="lists col-md-4 offset-md-1">
				<div class="d-flex flex-column justify-content-around">
						<div id="left-list" valign="top" class="list-text col-md-12">
							<h2>ACROSS</h2>
						</div>
						<div id="right-list" valign="top" class="list-text col-md-12">
							<h2>DOWN</h2>
						</div>
				</div>
			</div>
		</div>
		<p class="text-light pt-5 px-5">*Please omit spaces in answers.</p>
	</div>
	<div id="answer-form">

		<div class="short-margin">
			
			<p id="position-and-clue"></p>
			
			<p>Answer : <input id="solution-answer" type="text" size="40"></p>
			
			<p id="answer-results" class="hidden"></p>
			
			<div class="text-right">
				<input type="button" class="btn btn-danger" id="cancel-button" value="Cancel">
				<input type="button" class="btn btn-success" id="answer-button" value="Check">
			</div>
		</div>
		
	</div>
</div>

<div id="party_modal" class="modal full_modal w-100">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-body p-3">
    		<button type="button" class="close text-right" data-dismiss="modal" id="close_modal" aria-hidden="true">&times;</button>
    		<h1 class="text-center">Correct!!</h1>
    		<img src="/static/images/happy1.gif" class="img-fluid w-100">
    	</div>
    </div>
   </div>
</div>
<div id="completed_modal" class="modal full_modal w-100">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class="modal-body p-3">
    		<button type="button" class="close text-right" data-dismiss="modal" id="close_c_modal" aria-hidden="true">&times;</button>
    		<img src="/static/images/happy.gif" class="img-fluid w-100">
    	</div>
    </div>
   </div>
</div>

</body>

</html>
