<html>

<head>
	<title>Happy Birthday Manit Sir</title>
	<meta http-equiv="content-type" content="text/css/javascript/php; charset=UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/javascript/crossword-puzzle.js"></script>

	<link type="text/css" rel="stylesheet" href="/static/css/crossword-puzzle.css">

</head>
<style>
	.main_block{
		background-image: url('/static/images/bg3.jpg');
		background-repeat: no-repeat;
		background-size: cover;	
		height: 100vh;
	}
</style>

<script type="text/javascript">

	$(document).ready(function(event) {
		var puzzlewords = [
				// word, clue
			['Tanushree', 'Tanushree.'],
			['Chirag', 'Chirag.'],
			['Shubham', 'Shubham.'],
			['Ajay', 'Ajay.'],
			['Kanchi', 'Kanchi.'],
			['Chanchal', 'Chanchal.'],
			['Chiranjeev', 'Chiranjeev.'],
			['Lalit', 'Lalit.'],
			['Ankit', 'Ankit.'],
			['Retika', 'Retika.'],
		];
		crosswordPuzzle(puzzlewords);
	});

</script>

<body>
<div class="main_block" style="opacity: 0.9;">
	<div class="py-5" >
		<div class="row m-0">
			<div id="root" class="col-md-6 root d-flex justify-content-center">
			</div>
			<div id="lists" class="lists col-md-4 offset-md-1">
				<div class="d-flex justify-content-around">
						<div id="left-list" valign="top" class="list-text col-md-6">
							<h1>Across</h1>
						</div>
						<div id="right-list" valign="top" class="list-text col-md-6">
							<h1>Down</h1>
						</div>
				</div>
			</div>
		</div>
	</div>
	<div id="answer-form">

		<div class="short-margin">
			
			<p id="position-and-clue"></p>
			
			<p>Answer : <input id="solution-answer" type="text" size="40"></p>
			
			<p id="answer-results" class="hidden"></p>
			
			<p>
				<input type="button" class="btn btn-danger" id="cancel-button" value="Cancel">
				<input type="button" class="btn btn-success" id="answer-button" value="Check">
			</p>
		</div>

	</div>
</div>
</body>

</html>
